.pokemonContainer{
    display: grid ;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 10px;
    max-width: 1000px;
    margin: 0 auto;
}
.pokemonCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(184, 135, 11, 0.473);
    padding: 5px 0;
}
.pokemonImagen{
    width: 150px;
    height: 150px;
    margin: 5px 0;
}
.pokemonTitulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(218, 165, 32, 0.459);
    color: #f2f2f2;
    padding: 4px 2px ;
    border-radius: 10px;
    width: 50%;

}